:host ::ng-deep {
  .p-dropdown {
    width: 14rem;
    font-weight: normal;
  }

  .product-name {
    font-size: 1em;
    font-weight: 700;
  }

  .product-description {
    margin-block: 0.8rem;
    font-size: 0.7em;
  }

  .category-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .product-category {
    font-size: 0.7em;
    font-weight: 600;
    vertical-align: middle;
  }

  .product-price {
    font-size: 1rem;
    font-weight: 600;
  }

  img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid beige;
    gap: 2rem;
    margin-top: 30px;
    background-color: hwb(200 92% 5%);

    .product-list-detail {
      flex: 1 1 0;
    }

    .p-rating {
      margin: 0 0 0.5rem 0;
    }

    .product-price {
      margin-bottom: 0.5rem;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .edit-button-list {
        margin-top: 20px;
      }
    }
  }

  .product-grid-item {
    margin: 0.5rem;

    .product-grid-item-top,
    .product-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .product-grid-item-bottom {
      justify-content: center;
      gap: 10px;
    }

    .grid-price-qty {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .product-grid-item-content {
      text-align: center;
      .product-title {
        margin-top: 1rem;
      }
    }
  }
}

.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .product-list-item {
    flex-direction: column;
    align-items: center;

    img {
      width: 75%;
      margin: 2rem 0;
    }

    .product-list-detail {
      text-align: center;
    }

    .product-price {
      align-self: center;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
.search {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 3px;
}
:host::ng-deep .p-dataview-header {
  display: flex;
  gap: 40px;
}
.add-button {
  margin-left: 55%;
}
.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
